<!DOCTYPE html>
<html>
<head>
    <% include ../config/header.ejs %>
    <style>
        tr {
          text-align: center;
        }
        td {
            vertical-align: middle !important;
        }
        #Img img {
            width: 150px;
            height: 120px;
            margin: 10px;
            border: solid 1px black;
        }
        .br {
            border-right: solid 0.5px #aaa;
        }
    </style>
</head>
<body class="fixed-nav" id="page-top">
  <% include ../config/nav.ejs %>
  <div class="container-fluid">
    <div class="card mb-3 mt-3">
      <div class="card-header"><h3>진척도 정보</h3></div>
      <div class="card-body">
          <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                  <th width="10%">No.</th>
                  <th>제목</th>
                  <th width="20%">등록일</th>
              </tr>
              </thead>
              <tbody>
              <% for(var i = 0; i < data.length; i++) { if (data[i].Title) { %>
                  <tr class="text-center">
                      <td><%= i+1 %></td>
                      <td ><a id="<%= data[i]._PID %>" data-toggle="modal" data-target="#progress_detail" href=""><%= data[i].Title %></a></td>
                      <td><%= date[i] %></td>
                  </tr>
                  <% } } %>
              </tbody>
          </table>
        </div>
      </div>
      <div class="text-white" align="center">
          <a class="btn btn-primary my-3" onclick="history.go(-1);">돌아가기</a>
      </div>
  </div>
</div>
<% include ./info.ejs %>
</body>
</html>
