<div class="modal fade" id="mProgress" role="dialog">
    <div class="modal-dialog modal-lg" style="width:650px">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">진척도 목록</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <table class="table table-bordered table-hover text-center mt-2">
                 <thead>
                    <tr>
                        <th style="width:10%">No.</th>
                        <th style="width:60%">제목</th>
                        <th style="width:30%">보낸시간</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>1</td>
                       <td><a class="btn btn-link" data-toggle="modal" data-target="#mProgress-get" href="">1주차 보고</a></td>
                       <td>2017/10/27 09:52am</td>
                    </tr>
                 </tbody>
               </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">돌아가기</button>
            </div>
        </div>
    </div>
</div>
