<div class="modal fade" id="myProgress" role="dialog">
    <div class="modal-dialog modal-lg" style="width:350px">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">진척도 작성</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form method="POST" action="progress/<%= data._OID %>">
             <div class="text-left">
               <div class="row">
                   <div class="col-md-12 mb-3">
                       <label for="Title"><b>제목</b></label>
                       <input type="text" name="Title" style="width:100%" placeholder="제목을 입력하세요." />
                   </div>
                   <div class="col-md-12 mb-3">
                       <label for="Content"><b>내용</b></label><br>
                       <textarea name="Content" rows="4" style="width:100%" placeholder="내용을 입력하세요."></textarea>
                   </div>
               </div>
               <div class="row" id="files">
                 <div class="col-md-12">
                     <label for="File"><b>사진첨부</b></label>
                     <input type="file" name="File" style="width:80%" />
                     <a class="btn btn-primary" href="">+</a>
                 </div>
               </div>
               <div class="modal-footer">
                 <input type="submit" class="btn btn-success" value="제출" />
                 <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
               </div>
             </div>
          </form>
        </div>
      </div>
    </div>
    <script>
        var count = 1;
        var mHtml = '<div class="col-md-12"><input type="file" name="File" style="width:80%" />'
                  + '<a class="btn btn-primary" href="">+</a></div>';

        $('#files').on('click', 'div a', function(e) {  // 클릭 리스너 등록
            e.preventDefault();
            if ($(this).text() == '+' && count < 3) {  // +버튼이고 input에 값이 있으면
                if ($(this).prev().val() != '') {
                    count++;
                    $(this).text('-');  // 버튼 텍스트를 -로 변경
                    $(this).prev().attr('readonly', true);
                    $('#files').append(mHtml);
                } else {
                    alert('파일이 없습니다!');
                }
            } else if ($(this).text() == '-'){
                count--;
                $(this).parent().prev().eq(1).attr('readonly', false);  // 이전 div의 input을 수정가능으로 변경
                $(this).parent().prev().eq(2).text('+');  // 이전 li의 버튼 텍스트를 +로 변경
                $(this).parent().remove();  // 버튼이 속해있는 div 제거
            }
        });
    </script>
  </div>
