<div class="modal fade" id="progress_detail" role="dialog">
    <div class="modal-dialog modal-lg" style="width:550px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">진척도 세부조회</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 br"><b>제목</b></div>
                    <div class="col-md-6"><p id="Ptitle"></p></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 br"><b>등록일자</b></div>
                    <div class="col-md-6"><p><%= date[0] %></p></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 br"><b>진척 내용</b></div>
                    <div class="col-md-8">
                        <textarea id="Content" class="form-control" style="width:100%" rows="4" disabled></textarea>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2 mx-auto"><b>사진</b></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 m-img"><div id="Img"></div>
                </div>
            </div>
            <div class="modal-footer text-white">
                <button type="button" class="btn mx-auto" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var title = $("#Ptitle");
        var content = $("#Content");
        var img = $("#Img");

        var apps, imgs;
        $('#progress_detail').click(function() {
            $('body').addClass('modal-open');
        });

        $("a[data-target='#progress_detail']").on('click', function(e) {
            oid = $(this).attr('id');
            getInfo();
        });

        var getInfo = function() {
            // 모든 요소를 초기화 한다
            img.html('');
            $.get('/progress_detail/' + oid, function(data) {
              apps = data.apps;
              title.text(apps[0].Title);
              content.text(apps[0].Content);
              imgs = (apps[0].ImageUrl) ? apps[0].ImageUrl.split('%&') : '';
              if (Array.isArray(imgs)) {
                  for (var k = 0; k < imgs.length; k++) {
                      img.append("<img src='uploads/" + imgs[k] + "' class='mr-3'></img>");
                  }
              } else if (imgs)
                  img.append("<img src='uploads/" + imgs + "' class='mr-3'></img>");
            });
        }
    });
</script>
