<!DOCTYPE html>
<html>
  <head>
      <% include ../nav/header.ejs %>
  </head>
  <body class="fixed-nav sidenav-toggled bg-header" id="page-top">
      <% include ../nav/nav-admin.ejs %>
      <div id="header" class="container-fluid text-center bg-header">
        <div class="row">
          <div class="col-md-10 mx-auto" style="margin-top:30vh">
            <h1><strong>환영합니다!<br>관리자님!</strong></h1>
          </div>
        </div>
      </div>
  </body>
</html>
