<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/user/main"><img src="imgs/logo.png"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <% if(session.UserType) { %>
            <% if(session.UserType == 'AD') { %>
              <li class="nav-item mt-2" data-toggle="tooltip" data-placement="right" title="암호변경">
                <a class="nav-link" href="/admin/changepwd">
                  <img src="imgs/icons/key.png" alt="">
                  <span class="nav-link-text">암호변경</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="회원관리">
                <a class="nav-link" href="/admin/members">
                  <img src="imgs/icons/members.png" alt="">
                  <span class="nav-link-text">회원관리</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="외주관리">
                 <a class="nav-link" href="/admin/orders">
                  <img src="imgs/icons/orders.png" alt="">
                  <span class="nav-link-text">외주관리</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="통계">
                <a class="nav-link" href="/admin/statistics">
                  <img src="imgs/icons/chart.png" alt="">
                  <span class="nav-link-text">통 계</span>
                </a>
              </li>
            <% } else { %>
              <li class="nav-item mt-2" data-toggle="tooltip" data-placement="right" title="전체">
                <a class="nav-link" href="/order/list/all">
                  <img src="imgs/icons/all.png">
                  <span class="nav-link-text">전체</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="기획">
                <a class="nav-link" href="/order/list/plan">
                  <img src="imgs/icons/plan.png">
                  <span class="nav-link-text">기획</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="개발">
                <a class="nav-link" href="/order/list/development">
                  <img src="imgs/icons/development.png">
                  <span class="nav-link-text">개발</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="디자인">
                <a class="nav-link" href="/order/list/design">
                  <img src="imgs/icons/design.png">
                  <span class="nav-link-text">디자인</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="번역">
                <a class="nav-link" href="/order/list/translation">
                  <img src="imgs/icons/translation.png">
                  <span class="nav-link-text">번역</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="사운드">
                 <a class="nav-link" href="/order/list/sound">
                  <img src="imgs/icons/sound.png">
                  <span class="nav-link-text">사운드</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="영상">
                <a class="nav-link" href="/order/list/video">
                  <img src="imgs/icons/video.png">
                  <span class="nav-link-text">영상</span>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="기타">
                 <a class="nav-link" href="/order/list/etc">
                  <img src="imgs/icons/etc.png">
                  <span class="nav-link-text">기타</span>
                </a>
              </li>
            <% } %>
        <% } %>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if (session.Name) { %>
            <% if (session.UserType == 'AD') { %>
              <li class="nav-item">
                <a class="nav-link text-white">관리자</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/changepwd">비밀번호변경</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/logout">로그아웃</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link text-white"><b><%= session.Name %></b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/mypage">마이페이지</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/logout">로그아웃</a>
              </li>
            <% } %>
        <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/login">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/register">회원가입</a>
            </li>
        <% } %>

      </ul>
    </div>
        <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
</nav>
<script type="text/javascript">
    $("#exampleAccordion li").on('click', function(e) {
        <% if (!session.Name ) { %>
            e.preventDefault();
            alert('로그인이 필요합니다!');
            window.location.replace('/user/login');
        <% } %>
    });
</script>
