<div class="modal fade" id="lightBox" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img id="curImg" src="" alt="">
            </div>
        </div>
    </div>
</div>
<style>
    #curImg {
        width: 100%;
        height: 100%;
    }
    #lightBox .modal-body {
        height: 60vh;
    }
</style>
