<!DOCTYPE html>
<html lang="ko">
<head>
  <style>
      .content-wrapper {
        margin-top: 50px;
      }
  </style>
</head>
<body>
  <div class="content-wrapper">
    <div class="container">
      <ul style="list-style: none">
        <li style="display: inline-block">
          <div class="oj-box">
            <a href="#"><i class="fa fa-fw fa-bars"></i><p>전체</p></a>
          </div>
        </li>
        <li style="display: inline-block">
          <div class="oj-box">
            <a href="#"><i class="fa fa-fw fa-pencil"></i><p>기획</p></a>
          </div>
        </li>
        <li style="display: inline-block">
          <div class="oj-box">
            <a href="#"><i class="fa fa-fw fa-wrench"></i><p>개발</p></a>
          </div>
        </li>
        <li style="display: inline-block">
          <div class="oj-box">
            <a href="#"><i class="fa fa-fw fa-paint-brush"></i><p>디자인</p></a>
          </div>
        </li>
        <li style="display: inline-block">
          <div class="oj-box">
            <a href="#"><i class="fa fa-fw fa-file"></i><p>번역작성</p></a>
          </div>
        </li>
        <li style="display: inline-block">
          <div class="oj-box">
            <a href="#"><i class="fa fa-fw fa-music"></i><p>사운드</p></a>
          </div>
        </li>
        <li style="display: inline-block">
          <div class="oj-box">
            <a href="#"><i class="fa fa-fw fa-video-camera"></i><p>영상제작</p></a>
          </div>
        </li>
        <li style="display: inline-block">
          <div class="oj-box">
            <a href="#"><i class="fa fa-fw fa-table"></i><p>기타</p></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>

</html>
