<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>외주랜드</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
  <div class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="main.html">&nbsp;외주랜드</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="전체">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-bars"></i>
              <span class="nav-link-text">전체</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="기획">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-pencil"></i>
              <span class="nav-link-text">기획</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="개발">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-wrench"></i>
              <span class="nav-link-text">개발</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="디자인">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-paint-brush"></i>
              <span class="nav-link-text">디자인</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="번역">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-file"></i>
              <span class="nav-link-text">번역</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="사운드">
             <a class="nav-link" href="#">
              <i class="fa fa-fw fa-music"></i>
              <span class="nav-link-text">사운드</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="영상">
            <a class="nav-link" href="#">
              <i class="fa fa-fw fa-video-camera"></i>
              <span class="nav-link-text">영상</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="기타">
             <a class="nav-link" href="#">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">기타</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="login.html">
              <i class="fa fa-fw fa-sign-in"></i>로그인</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register.html">
              <i class="fa fa-fw fa-user-plus"></i>회원가입</a>
          </li>
        </ul>
      </div>
    </nav>

    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>
  <!-- Custom scripts for this page-->
  <script src="js/sb-admin-datatables.min.js"></script>
  <script src="js/sb-admin-charts.min.js"></script>

  <script type="text/javascript">
      $("#exampleAccordion li").on('click', function(e) {
          e.preventDefault();
          alert('로그인이 필요합니다!');
          window.location.replace('login.html');
      });
  </script>
</body>

</html>
