#header {
  position: relative;
  width: 100%;
  height: calc(100vh - 66px);
}
#header h1 {
  font-size: 1.3em !important;
}
#header a {
  padding: 1em 2em !important;
  font-size: 0.8em !important;
}
#dataTable th, #dataTable td {
    text-align: center;
    font-size: 0.1rem;
}
body > .container-fluid {
    margin-left: 0 !important;
    width: 100% !important;
}

.bg-header {
    position: relative;
    width: 100%;
    height: calc(100% - 66px);
    background-image: url('../imgs/header.png');
    background-size: cover;
}
.fit {
    height: calc(100vh - 66px);
}
.navbar {
    padding-left: 10px;
    background-color: #777 !important;
}
.navbar-brand {
    padding: 0 !important;
}
.navbar-brand img {
    width: 120px;
    height: 50px;
}
.sidenav-toggled .container-fluid {
    margin-left: 0 !important;
    width: 100% !important;
}
.fixed-nav {
    padding-top: 66px !important;
}
.sidenav-toggled .navbar-sidenav .nav-link-text {
    display: inline !important;
}
.navbar-collapse .navbar-sidenav {
    height: auto !important;
}
.sidenav-toggler {
    margin-top: calc(100vh - 50px) !important;
}
.sidenav-toggled .navbar-sidenav a {
    width: 200px !important;
}
.navbar-sidenav > .nav-item, .sidenav-toggler > .nav-item {
    width: 100% !important;
}
.sidenav-toggled .navbar-sidenav {
    width: 100% !important;
}
.sidenav-toggled .navbar-sidenav .nav-item, .sidenav-toggled .navbar-sidenav .nav-link {
    width: 100px !important;
}
.nav-link {
    color: white !important;
    margin-top: 2px;
    padding: 0.2em !important;
}
.nav-link img {
    width: 25px;
    height: 25px;
    padding: 0.5px;
}

@media (max-width: 600px) {
  .modal-dialog {
     width: 50vh !important;
  }
}
@media (min-width: 992px) {
  #header {
    width: calc(100% - 55px);
  }
  #header h1 {
    font-size: 2.5em !important;
  }
  #header a {
    padding: 0.8em 1.6em !important;
    font-size: 1em !important;
  }
  #dataTable th, #dataTable td {
      font-size: 1rem;
  }
  body > .container-fluid {
      margin-left: 160px !important;
      width: calc(100% - 160px) !important;
  }
  .sidenav-toggled .container-fluid {
      margin-left: 55px !important;
      width: calc(100% - 55px) !important;
  }
  .fixed-nav {
      padding-top: 66px !important;
  }
  .navbar-collapse .navbar-sidenav {
      margin-top: 66px !important;
      height: calc(100vh - 108px) !important;
  }
  .sidenav-toggler {
      margin-top: calc(100vh - 42px) !important;
  }
  .navbar-sidenav > .nav-item, .sidenav-toggler > .nav-item {
      width: 160px !important;
  }
  .sidenav-toggled .navbar-sidenav {
      width: 55px !important;
  }
  .sidenav-toggled .navbar-sidenav .nav-link-text {
      display: none !important;
  }
  .nav-link {
      padding: 0.5em !important;
      color: white !important;
  }
  .nav-link img {
      width: 35px;
      height: 35px;
      padding: 1px;
  }
}
