<!DOCTYPE html>
<html>
<head>
    <% include ../nav/header.ejs %>
</head>

<body class="fixed-nav" id="page-top">
  <% include ../nav/nav-login.ejs %>
  <div class="container-fluid bg-header fit">
      <div class="row">
          <div class="card card-register col-md-6 p-0 mx-auto mt-3">
            <div class="card-header">개인정보 수정 %></div>
            <div class="card-body">
              <form method="POST" action="/changeinfo?_method=PUT">
                 <div class="text-center mb-3">
                       <% if(data.UserType == 'EE') { %>
                         <label class="radio-inline" style="margin-right: 20px;">
                             <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" disabled> 발주자(기업)
                         </label>
                         <label class="radio-inline">
                             <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" disabled checked="checked"> 수주자(학생)
                         </label>
                     <% } else if(data.UserType == 'ER')  { %>
                         <label class="radio-inline" style="margin-right: 20px;">
                             <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" disabled checked="checked"> 발주자(기업)
                         </label>
                         <label class="radio-inline">
                             <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" disabled> 수주자(학생)
                         </label>
                     <% } %>
                 </div>
                 <div class="form-group">
                   <div class="form-group">
                     <label for="exampleInputEmail1">이메일(아이디)</label>
                     <input class="form-control" name="Email" type="email" readonly="readonly" value="<%= data.Email %>">
                   </div>
                   <div class="form-row">
                     <div class="col-md-6">
                      <label for="exampleInputName">이름</label>
                      <input class="form-control" name="Name" type="text" aria-describedby="nameHelp" value="<%= data.Name %>">
                     </div>
                     <div class="col-md-6">
                      <label for="exampleInputLastName">생년월일</label>
                      <input class="form-control" name="Birth" type="text" value="<%= data.Birth %>">
                     </div>
                   </div>
                 </div>
                 <div class="form-group">
                   <label for="exampleInputEmail1">전화번호</label>
                   <input class="form-control" name="Tel" type="text" value="<%= data.Tel %>">
                 </div>
                 <div align="center">
                     <input type="submit" class="btn btn-primary mr-3" value="수정" />
                     <a class="btn btn-danger" href="/mypage">취소</a>
                 </div>
              </form>
            </div>
          </div>
      </div>
  </div>
  <script>
      var Name = $("input[name=Name]");
      var Birth = $("input[name=Birth]");
      var Tel = $("input[name=Tel]");

      $("input[type=submit]").on('click', function(e) {
            if(Name.val().length < 2 || Name.val().length > 6) {
                e.preventDefault();
                alert('2~6자리의 이름을 입력해주세요!');
                Name.focus();
            } else if (Birth.val().length != 8) {
                e.preventDefault();
                alert('8자리의 생년월일을 입력해주세요!');
                Birth.focus();
            } else if (Tel.val().length < 12 || Tel.val().indexOf('-') == -1) {
                e.preventDefault();
                alert('전화번호를 다시 한번 확인해 주세요!');
                Tel.focus();
            }
      });
  </script>
</body>
</html>
