<!DOCTYPE html>
<html>
  <head>
      <% include ../nav/header.ejs %>
  </head>
  <body class="bg-dark sidenav-toggled">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
          <% include ../nav/nav.ejs%>
      </nav>

      <div class="container">
          <div class="row">
              <div class="col-md-2"></div>
              <div class="card card-login mx-5 mt-5">
                 <div class="card-header">이메일 찾기</div>
                 <div class="card-body">
                    <div class="text-center mt-4">
                       <h4>이메일을 잊어버리셨나요?</h4>
                       <p>회원님의 정보를 입력해서 이메일을 찾을 수 있습니다!</p>
                    </div>
                    <form id="id" method="post" action="forgot/id">
                       <div class="form-group">
                          <span class="nav-link-text">이름</span>
                          <input class="form-control" name="IName" type="text" placeholder="이름을 입력해주세요."><br>
                          <span class="nav-link-text">생년월일</span>
                          <input class="form-control" name="IBirth" type="text" placeholder="ex)19940101"><br>
                          <span class="nav-link-text">전화번호</span>
                          <input class="form-control" name="ITel" type="tel" placeholder="ex)010-1234-5678">
                       </div>
                       <input id="getEmail" class="btn btn-primary btn-block" type="submit" value="이메일찾기" />
                    </form>
                 </div>
              </div>
              <div class="card card-login mx-5 mt-5">
                  <div class="card-header">비밀번호 찾기</div>
                  <div class="card-body">
                     <div class="text-center mt-4">
                        <h4>비밀번호를 잊어버리셨나요?</h4>
                        <p>가입하신 이메일로 임시 비밀번호를 보내드립니다!</p>
                     </div>
                     <form id="pwd" method="post" action="forgot/pwd">
                        <div class="form-group">
                          <span class="nav-link-text">이름</span>
                          <input class="form-control" name="PName" type="text" placeholder="이름을 입력해주세요."><br>
                          <span class="nav-link-text">이메일(아이디)</span>
                          <input class="form-control" name="PEmail" type="email" aria-describedby="emailHelp" placeholder="이메일을 입력해주세요."><br>
                          <span class="nav-link-text">전화번호</span>
                          <input class="form-control" name="PTel" type="tel" placeholder="ex)010-1234-5678">
                        </div>
                        <input id="getPassword" class="btn btn-primary btn-block" type="submit" value="비밀번호 찾기" />
                     </form>
                  </div>
              </div>
          </div>
      </div>

      <script>
          $("#getEmail").on('click', function(e) {
              var input = [ $("input[name=IName]").val(), $("input[name=IBirth]").val(), $("input[name=ITel]").val() ];
              if (input[0] == '' || input[1] == '' || input[2] == '') {
                  alert('입력하지 않은 정보가 있습니다!');
                  e.preventDefault();
              }
          });

          $("#getPassword").on('click', function(e) {
              var input = [ $("#input[name=PName]").val(), $("#input[name=PEmail]").val(), $("#input[name=PTel]").val() ];
              if(input[0] == '' || input[1] == '' || input[2] == '') {
                  alert('입력하지 않은 정보가 있습니다!');
                  e.preventDefault();
              }
          });
      </script>
  </body>
</html>
