<!DOCTYPE html>
<html>
  <head>
      <% include ../nav/header.ejs %>
  </head>
  <body class="fixed-nav" id="page-top">
    <% include ../nav/nav.ejs %>
    <div id="header" class="container-fluid text-center bg-header">
      <div class="row">
        <div class="col-md-8 mx-auto" style="margin-top:30vh">
          <h1><strong>당신의 재능을 빛내기 위한 무대<br>지금! 바로! 도전하세요!</strong></h1>
          <a class="btn btn-primary" href="/login">시작하기</a>
        </div>
      </div>
    </div>
    <section id="contact">
        <% include ./contact.ejs %>
    </section>
  </body>
</html>
