<!DOCTYPE html>
<html>
  <head>
      <% include ../nav/header.ejs %>
  </head>
  <body class="fixed-nav sidenav-toggled" id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <% include ../nav/nav.ejs %>
    </nav>
    <header class="text-center text-gray d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <h1><strong>당신의 재능을 빛내기 위한 무대<br>지금! 바로! 도전하세요!</strong></h1>
          </div>
          <div class="col-md-10 mx-auto">
            <a class="btn btn-primary" href="/login">시작하기</a>
          </div>
        </div>
      </div>
    </header>
    <section id="contact">
        <% include ./contact.ejs %>
    </section>
  </body>
</html>
