<!DOCTYPE html>
<html>
  <head>
      <% include ../config/header.ejs %>
  </head>
  <body class="fixed-nav" id="page-top">
    <% include ../config/nav.ejs %>
    <div id="header" class="container-fluid text-center bg-header">
      <div class="row">
        <div class="col-md-8 mx-auto" style="margin-top:30vh">
          <h1><strong>당신의 재능을 빛내기 위한 무대<br>지금! 바로! 도전하세요!</strong></h1>
          <a class="btn btn-primary" href="/order/list/all">시작하기</a>
        </div>
      </div>
    </div>
    <div class="container-fluid m-5">
      <div class="text-center">
        <h1>Contact Us</h1>
        <hr style="width:50px;height:2px;margin:30px auto;background:#f60;">
      </div>
      <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-2 text-center">
              <i class="fa fa-phone fa-3x mb-3"></i>
              <p>123-456-7899</p>
          </div>
          <div class="col-md-2 text-center">
              <i class="fa fa-envelope-o fa-3x mb-3"></i>
              <p>evry1457@gmail.com</p>
          </div>
      </div>
    </div>
  </body>
</html>
