<div class="modal fade" id="notice" role="dialog">
    <div class="modal-dialog modal-lg" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">알림 정보</h4>
                <form action="/mypage" method="get">
                    <button type="submit" class="close">&times;</button>
                </form>
            </div>
            <div class="modal-body">
                <form>
                    <div class="text-left">
                        <div class="row">
                            <div class="col-md-12">
                                <b>제목</b><p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <b>날짜</b><p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <b>내용</b><textarea class="form-control" readonly="readonly" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<form action="/mypage" method="get">-->
                <a id="btn_delete" class="btn btn-danger" href="">삭제하기</a>
                <!--</form>-->
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var idx = 0;
        $("a[data-target]").on('click', function() {
            $.post('/mypage?_method=PUT', {nid: $(this).attr('id')});
            <% for (i = 0; i < noti.length; i++) { %>
                if ($(this).attr('id') == <%= noti[i]._NID %>) {
                    $('.modal-body form p').eq(0).text("<%= noti[i].Title %>");
                    $('.modal-body form p').eq(1).text("<%= dates[i] %>");
                    $('.modal-body form textarea').eq(0).text("<%= noti[i].Content %>");
                    idx = $(this).attr('id');
                }
            <% } %>
//            $("#put_nid").on("action", "/mypage/"+ nid +"?_method=PUT");
        });
        $("#btn_delete").on('click', function () {
            if (confirm ("정말로 삭제하시겠습니까?")) {
                $.post('/mypage?_method=DELETE', {nid: String(idx)});
            }
        });
    });
</script>
