<!DOCTYPE html>
<html>
  <head>
      <% include ../config/header.ejs %>
      <script>
          $(document).ready(function() {
              var isChecked = false;
              var Name = $('input[name=Name]');
              var Birth = $('input[name=Birth]');
              var Email = $('input[name=Email]');
              var Tel = $('input[name=Tel]');
              var Pwd = $('input[name=Password]');
              var Pwd2 = $('input[name=Password2]');
              var inputs = [Name, Birth, Email, Tel, Pwd, Pwd2];

              $('#check').on('click', function() {
                  if (Email.val() && Email.val().indexOf("@") != -1 && Email.val().indexOf(".") != -1) {
                      $.get('/user/register/check/' + Email.val(), function(data) {
                            if(data || Email.val() == 'admin@gmail.com') {
                                $("#result").text('이미 존재하는 이메일입니다.');
                                $("#result").css('color', '#f44');
                            } else {
                                $("#result").text('사용 가능한 이메일입니다.');
                                $("#result").css('color', '#0af');
                                isChecked = true;
                            }
                      });
                  } else {
                      alert('이메일을 입력해 주세요!');
                  }
              });

              Email.on('keydown', function() {
                  $("#result").text('');
                  isChecked = false;
              });

              $('input[type=radio]').on('change', function(e) {
                  if ($(this).val() == 'EE')
                      Email.attr('placeholder', '학교 이메일을 입력해주세요.');
                  else
                      Email.attr('placeholder', '이메일을 입력해주세요.');
              });

              $('input[type=submit]').on('click', function(e) {
                  var UserType = $('input[name=UserType]:checked');
                  for (var i = 0; i < inputs.length; i++) {
                      if (inputs[i].val() == '') {
                          e.preventDefault();
                          alert('입력하지 않은 정보가 있습니다.');
                          inputs[i].focus();
                          return;
                      }
                  }
                  if (Name.val().length < 2 || Name.val().length > 6) {
                      e.preventDefault();
                      alert('2~6자리의 이름을 입력해주세요!');
                      Name.focus();
                  } else if (Birth.val().length != 8) {
                      e.preventDefault();
                      alert('8자리의 생년월일을 입력해주세요!');
                      Birth.focus();
                  } else if (Email.val() == "admin@gmail.com") {
                      e.preventDefault();
                      alert('해당 이메일은 사용 불가능합니다!');
                      Email.focus();
                  } else if (UserType.val() == 'EE' && Email.val().indexOf("ac.kr") == -1) {
                      e.preventDefault();
                      alert('(~ac.kr)형식의 학교 이메일을 입력해 주세요!');
                      Email.focus();
                  } else if (Tel.val().length < 12 || Tel.val().indexOf('-') == -1) {
                      e.preventDefault();
                      alert('전화번호를 다시 한번 확인해 주세요!');
                      Tel.focus();
                  } else if (Pwd.val().length < 8 || Pwd.val().length > 16) {
                      e.preventDefault();
                      alert('8~16자리의 비밀번호를 입력해주세요.');
                      Pwd.focus();
                  } else if (Pwd.val() != Pwd2.val()) {
                      e.preventDefault();
                      alert('비밀번호가 서로 다릅니다.');
                      Pwd.focus();
                  } else if (!isChecked) {
                      e.preventDefault();
                      alert('아이디 중복 체크를 해주세요!');
                  }
              });
          });
      </script>
  </head>
  <body class="fixed-nav bg-header" id="page-top">
    <% include ../config/nav.ejs %>
    <div class="container-fluid">
      <div class="row">
          <div class="card card-register col-md-7 p-0 mx-auto mt-3 mb-3">
            <div class="card-header">회원가입</div>
            <div class="card-body">
              <form action="/user/register" method="post">
                <div class="text-center mb-1">
                   <label class="radio-inline mr-3">
                     <input type="radio" name="UserType" value="ER" checked> 발주자(기업)
                   </label>
                   <label class="radio-inline">
                     <input type="radio" name="UserType" value="EE"> 수주자(학생)
                   </label>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-6">
                     <label for="Name">이름</label>
                     <input class="form-control" name="Name" type="text" aria-describedby="nameHelp" maxlength="6" placeholder="(2~6자리)이름을 입력해주세요.">
                    </div>
                    <div class="col-md-6">
                     <label for="Birth">생년월일</label>
                     <input class="form-control" name="Birth" type="text" maxlength="8" placeholder="ex)19940101"
                      onKeyPress="if ((event.keyCode<46)||(event.keyCode>57)||(event.keyCode==47)) event.returnValue=false;">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Email">이메일(아이디)</label>
                  <input class="form-control" name="Email" type="email" aria-describedby="emailHelp" maxlength="40" placeholder="이메일을 입력해주세요.">
                  <a id="check" class="btn btn-primary text-white mt-2">중복 확인</a>
                  <label id="result"></label>
                </div>
                <div class="form-group">
                  <label for="Tel">전화번호</label>
                  <input class="form-control" name="Tel" type="text" maxlength="20" placeholder="ex) 010-1234-5678"
                   onKeyPress="if ((event.keyCode<45)||(event.keyCode>57)||(event.keyCode==47)) event.returnValue=false;">
                </div>
                <div class="form-group">
                  <label for="Password">비밀번호</label>
                  <input class="form-control" name="Password" type="password" aria-describedby="pwdHelp" placeholder="(8~16자리)비밀번호를 입력해주세요.">
                </div>
                <div class="form-group">
                  <label for="Password2">비밀번호 확인</label>
                  <input class="form-control" name="Password2" type="password" aria-describedby="pwdHelp" placeholder="(8~16자리)비밀번호를 확인해주세요.">
                </div>
                <input type="submit" class="btn btn-success btn-block" value="가입하기" />
              </form>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
