<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/main"><img src="imgs/logo.png"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item mt-2" data-toggle="tooltip" data-placement="right" title="전체">
          <a class="nav-link" href="/list">
            <img src="imgs/icons/all.png">
            <span class="nav-link-text">전체</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="기획">
          <a class="nav-link" href="/category/plan">
            <img src="imgs/icons/plan.png">
            <span class="nav-link-text">기획</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="개발">
          <a class="nav-link" href="/category/development">
            <img src="imgs/icons/development.png">
            <span class="nav-link-text">개발</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="디자인">
          <a class="nav-link" href="/category/design">
            <img src="imgs/icons/design.png">
            <span class="nav-link-text">디자인</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="번역">
          <a class="nav-link" href="/category/translation">
            <img src="imgs/icons/translation.png">
            <span class="nav-link-text">번역</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="사운드">
           <a class="nav-link" href="/category/sound">
            <img src="imgs/icons/sound.png">
            <span class="nav-link-text">사운드</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="영상">
          <a class="nav-link" href="/category/video">
            <img src="imgs/icons/video.png">
            <span class="nav-link-text">영상</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="기타">
           <a class="nav-link" href="/category/etc">
            <img src="imgs/icons/etc.png">
            <span class="nav-link-text">기타</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white"><%= session.Name %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mypage">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">로그아웃</a>
        </li>
      </ul>
    </div>

        <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
</nav>
