<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/admin"><img src="imgs/logo.png"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="비밀번호 변경">
        <a class="nav-link" href="/changepwd-admin">
          <img src="imgs/icons/key.png" alt="">
          <span class="nav-link-text">암호 변경</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="회원관리">
        <a class="nav-link" href="/members">
          <img src="imgs/icons/members.png" alt="">
          <span class="nav-link-text">회원관리</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="발주관리">
         <a class="nav-link" href="/orders">
          <img src="imgs/icons/orders.png" alt="">
          <span class="nav-link-text">발주관리</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="통계">
        <a class="nav-link" href="/statistics">
          <img src="imgs/icons/chart.png" alt="">
          <span class="nav-link-text">통 계</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white">관리자</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/changepwd-admin">비밀번호변경</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">로그아웃</a>
      </li>
    </div>

      <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>
    <script src="js/sb-admin-charts.min.js"></script>
</nav>
