<div class="modal fade" id="mEvaluation" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content" style="width:570px">
            <div class="modal-header">
                <h4 class="modal-title">수주자 평가</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>
                 <div class="text-left">
                   <div class="row">
                       <div class="col-md-12">
                           <b>수주자가 마음에 들었나요?</b>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                         <radiogroup>
                           <input type="radio" name="evaluation" value="1">매우 불만족한다.
                           <input type="radio" name="evaluation" value="2">불만족한다.
                           <input type="radio" name="evaluation" value="3" checked>보통이다.
                           <input type="radio" name="evaluation" value="4">만족한다.
                           <input type="radio" name="evaluation" value="5">매우 만족한다.
                         </radiogroup>
                       </div>
                   </div>
                 </div>
              </form>
            </div>
            <div class="modal-footer mx-auto">
                <button type="button" class="btn btn-success" data-dismiss="modal">완료</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<script>
    var oid;
    $("a[data-target='#info_EE']").on('click', function(e) {
        oid = $(this).attr('id');
    });
    $("#mEvaluation .modal-footer button:first-child").on('click', function(e) {
          e.preventDefault();
          $.post('/info_EE', {uid: $(this).attr('id'), oid: oid, score: $("input[name=evaluation]:checked").val()}, function(data) {
              if(data)
                window.location.replace('/ordered_list');
          });
    });
</script>
