<div class="modal fade" id="info_EE" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">수주자 조회</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form>
                  <div class="text-left">
                    <div class="row">
                        <div class="col-md-2">
                            <b>이름:</b><br><p id="Name"></p>
                        </div>
                        <div class="col-md-5">
                            <b>이메일:</b><br><p id="Email"></p>
                        </div>
                        <div class="col-md-5">
                            <b>전화번호:</b></br><p id="Tel"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <b>대학:</b><br><p id="Course"></p>
                        </div>
                        <div class="col-md-5">
                            <b>학부:</b><br><p id="Colleage"></p>
                        </div>
                        <div class="col-md-5">
                            <b>학과:</b></br><p id="Major"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>보유 자격증:</b><div id="License"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <b>자기소개:</b><br><textarea id="Content" style="width:100%" rows="4" disabled></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-img">
                            <b>사진:</b><br><div id="Img"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 m-img">
                            <b>우대조건:</b><br><div id="Prefer"></div>
                        </div>
                    </div>
                  </div>
               </form>
            </div>
            <div class="modal-footer mx-auto text-white">
                <a id="prev" class="btn btn-primary mx-5">이전</a>
                <form action ="progress_list" method="post">
                  <input name="ooid" id="ooid" type = "text" style="display:none;" >
                  <input name="uuid" id="uuid" type = "text" style="display:none;">
                  <input type="submit" class="btn btn-success mx-3" value="진척도 확인" />
                <!-- <a class="btn btn-success" id="prog" href="">진척도 확인</a> -->
                </form>
                <a id="finish" class="btn btn-danger mx-3" data-toggle="modal" data-target="#mEvaluation">외주 완료</a>
                <a id="next" class="btn btn-primary mx-5">다음</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var name = $("#Name");
        var email = $("#Email");
        var tel = $("#Tel");
        var course = $("#Course");
        var colleage = $("#Colleage");
        var major = $("#Major");
        var license = $("#License");
        var content = $("#Content");
        var img = $("#Img");
        var prefer = $("#Prefer");
        var forms = [name, email, tel, course, colleage, major, license, content,
                    img, prefer];

        var apps, users, progresses, licenses, imgs, checkPres;
        var oid, max;

        $('#info_EE').click(function() {
            $('body').addClass('modal-open');
        });

        $("#prog").on('click', function() {
            $.get('/progress_list', {oid: oid, uid: $(this).attr('id')}, function(data) {
                  window.location.replace('/progress_list');
            });
        });

        var index = 0;
        $("#next").on('click', function() {
            if (index < max -1)
                getInfo(++index);
        });

        $("#prev").on('click', function() {
            if (index > 0)
                getInfo(--index);
        });

        $("a[data-target='#info_EE']").on('click', function(e) {
            oid = $(this).attr('id');
            $.get('/ordered_list/check/' + oid, function(data) {
                if(data != 'C') {
                    $("#finish").remove();
                }
            });
            getInfo(index);
        });

        var getInfo = function(index) {
            // 모든 요소를 초기화 한다
            for (var i = 0; i < forms.length; i++) {
                forms[i].html('');
            }
            $.get('/info_EE/' + oid, function(data) {
                apps = data.apps;
                users = data.users;
                progresses = data.progresses;
                max = apps.length;
                if(!apps[0]) {
                    alert('조회 가능한 수주자가 없습니다!');
                    setTimeout(function() {
                      $("#info_EE").modal('hide');
                    }, 450);
                }

                for (var i = 0; i < apps.length; i++) {
                    for (var j = 0; j < users.length; j++) {
                        if (apps[i]._UID == users[j]._UID) {  // app에 해당하는 user이면
                            if(index > 0) {
                                index--;
                                continue;
                            }

                            name.text(users[j].Name);
                            email.text(users[j].Email);
                            tel.text(users[j].Tel);
                            course.text(users[j].Course);
                            colleage.text(users[j].Colleage);
                            major.text(users[j].Major);
                            content.text(users[j].Content);
                            $("#uuid").val(users[j]._UID);
                            $("#ooid").val(data.uuuid);


                            licenses = (users[j].License) ? users[j].License.split('%&') : '';
                            if (Array.isArray(licenses)) {
                                for (var k = 0; k < licenses.length; k++) {
                                    license.append("<a class='btn btn-primary text-white m-2'>" + licenses[k] +"</a>");
                                }
                            } else if (licenses)
                                license.append("<a class='btn btn-primary text-white m-2'>" + licenses + "</a>");

                            imgs = (users[j].imageUrl) ? users[j].imageUrl.split('%&') : '';
                            if (Array.isArray(imgs)) {
                                for (var k = 0; k < imgs.length; k++) {
                                    img.append("<img src='uploads/" + imgs[k] + "' class='mr-3'></img>");
                                }
                            } else if (imgs)
                                img.append("<img src='uploads/" + imgs + "' class='mr-3'></img>");

                            checkPres = (apps[i].CheckPre) ? apps[i].CheckPre.split('%&') : '';
                            if (Array.isArray(checkPres)) {
                                for (var k = 0; k < checkPres.length; k++) {
                                    prefer.append("<input type='checkbox' class='my-2' checked disabled>" + checkPres[k] + "<br>");
                                }
                            } else if (checkPres.length != 0)
                                prefer.append("<input type='checkbox' value=' class='my-2' checked disabled>" + checkPres + "<br>");

                            $("#mEvaluation .modal-footer button:first-child").attr('id', users[j]._UID);

                            $("#prog").attr('id', users[j]._UID);
                            return;
                        }
                    }
                }
            });
        }
    });
</script>
